/* src/Styles/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #455a64;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar-brand {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

.navbar-links button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
}

.navbar-links button:hover {
    background-color: #777;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        position: relative;
        top: -29px;
        left: 0;
        padding: 1rem;
    }

    .navbar-links {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 0.5rem;
    }

    .navbar-links a,
    .navbar-links button {
        margin-left: 0;
        width: 100%;
        text-align: center;
        display: block;
    }
}
